
*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}
header{
    background-color:#174DBA ;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
img[src="Assets/logo-uppersoft.png"]{
    display: block;
    width: 200px;
    padding: 10px;

}
.content1{
    background-color:#EFF0F3;
    height: 100%;
    display: flex;
    flex-direction:row ;
    justify-content: center;
    align-items: center;
    padding: 0 30px ;
    flex-wrap: wrap;
}
.container{
    background-color:#EFF0F3;
    padding-top: 60px;
    font-size: 32px;
    color:#174DBA;
    align-self: flex-start;
    padding-left: 90px;
    font-weight:bold;
}
.localUsers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:50px;
    
    padding: 50px;
}

.cards{
    background-color: white;
    display: flex;
    height: 300px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    
    width: 320px;
}
.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    height: 100%;
    gap: 15px;
    color: #174DBA ;
} 
.img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.editLink{
    align-self: flex-start;
  }
img[src = "Assets/edit-icon.png"]{
    margin-top: 15px;
    width: 30px;
}
.userTitle{
    margin: 50px;
    margin-top: 100px;
    font-size: 32px;
    color: var(--primary);
    align-self: flex-start;
    padding-left: 90px;

}
.userInfo{
    display: flex;
    align-self: flex-end ;
    padding-right:100px ;
    color: var(--dark);
    font-weight: lighter;
}
.userEmail{
    color: #505050;
    font-size:16px;
    font-weight: 600;

}
.content1 h3{
    font-size: 16px;
    font-weight: lighter;
    align-self: end;
    padding-bottom: 20px;
    margin-top: -10px;
    
}

